<!doctype html>

<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>

    .container{
      display: flex;
      flex-direction: row;
      margin-top: 20px;

    }
    
    .side{
      flex: 1;
      border-right: solid grey;
      height: auto;
      margin-right: 20px;
    }


    .schoolinfo{
        flex: 6;
    }
    
    .navbar-nav{
      margin-left: 50px;
    }
    
    .side-menu{
      text-align: center;
      padding-right: 2px;
    }

    .intro{
      font-weight: bold;
    }

    .school{
      font-weight: bold;
    }


</style>
</head>


<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a cl
    ass="navbar-brand" href="/school_lists/index">I LOVE SCHOOL S2</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">커뮤니티 기능(재미요소)1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">커뮤니티 기능(재미요소)2</a>
        </li>
      </ul>
    </div>
    </nav>
  </header>

 <div class="container">
  <div class="side">
  <div class="side-menu">
    <% if user_signed_in? %>
    hello! <%= current_user.email %><br>
     <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
   <%else %>
     <%= link_to "로그인", user_session_path %>
   <%end %>
</div>
  <div class="side-menu"><a href="/my_infos/new">내 정보 수정</a></div>
  <hr>
  <div class="side-menu"><a href="/school_lists/new2">글쓰기</a></div>
  <div class="side-menu"><a href="/posts/mypost">내가 쓴 글 보기</div>
  <div class="side-menu"><a href="/my_infos/index">나를 찾는 글 보기</a></div>
  </div>

<div class="schoolinfo">
    <% @my.each do |myinfo| %>
    <% if myinfo.user_id == current_user.id%>

    <div class="intro">
        <%= myinfo.myInfo_username %>님의 학교 정보입니다.<br>
        작성하신 학교의 졸업년도와 매칭되는 글을 확인하실 수 있으니,<br>
        잘못된 부분이 있다면 정확하게 수정해주세요!! <br></label>
    </div>

<br>

<div class="elementary">
    <div class="school">[초등학교] (졸업년도 : <%= myinfo.myInfo_primary_year %>년)</div>
    <%= myinfo.myInfo_primary1 %>초등학교 1학년 <%= myinfo.myInfo_primary_class1 %>반 (<%= myinfo.myInfo_primary_year-6%>년도)
    <br>
    <%= myinfo.myInfo_primary2 %>초등학교 2학년 <%= myinfo.myInfo_primary_class2 %>반 (<%= myinfo.myInfo_primary_year-5%>년도)
    <br>
    <%= myinfo.myInfo_primary3 %>초등학교 3학년 <%= myinfo.myInfo_primary_class3 %>반 (<%= myinfo.myInfo_primary_year-4%>년도)
    <br>
    <%= myinfo.myInfo_primary4 %>초등학교 4학년 <%= myinfo.myInfo_primary_class4 %>반 (<%= myinfo.myInfo_primary_year-3%>년도)
    <br>
    <%= myinfo.myInfo_primary5 %>초등학교 5학년 <%= myinfo.myInfo_primary_class5 %>반 (<%= myinfo.myInfo_primary_year-2%>년도)
    <br>
    <%= myinfo.myInfo_primary6 %>초등학교 6학년 <%= myinfo.myInfo_primary_class6 %>반 (<%= myinfo.myInfo_primary_year-1%>년도)
</div>

<br>

<div class="middle">
    <div class="school">[중학교] (졸업년도 : <%= myinfo.myInfo_middle_year %>년)</div>
    <%= myinfo.myInfo_middle1 %>중학교 1학년 <%= myinfo.myInfo_middle_class1 %>반 (<%= myinfo.myInfo_middle_year-3%>년도)
    <br>
    <%= myinfo.myInfo_middle2 %>중학교 2학년 <%= myinfo.myInfo_middle_class2 %>반 (<%= myinfo.myInfo_middle_year-2%>년도)
    <br>
    <%= myinfo.myInfo_middle3 %>중학교 3학년 <%= myinfo.myInfo_middle_class3 %>반 (<%= myinfo.myInfo_middle_year-1%>년도)
</div>

<br>

<div class="high">
    <div class="school">[고등학교] (졸업년도 : <%= myinfo.myInfo_high_year %>년)</div>
    <%= myinfo.myInfo_high1 %>고등학교 1학년 <%= myinfo.myInfo_high_class1 %>반 (<%= myinfo.myInfo_high_year-3%>년도)
    <br>
    <%= myinfo.myInfo_high2 %>고등학교 2학년 <%= myinfo.myInfo_high_class2 %>반 (<%= myinfo.myInfo_high_year-2%>년도)
    <br>
    <%= myinfo.myInfo_high3 %>고등학교 3학년 <%= myinfo.myInfo_high_class3 %>반 (<%= myinfo.myInfo_high_year-1%>년도)
</div>

<a href="/my_infos/edit/<%= myinfo.id %>" class="btn btn-primary" style="margin-top: 20px; width: 100px; height: 30px;">수정하기</a>


<hr>
<% end %>
<% end %>


</div>
</div>